<?xml version="1.0"?>

<launch>

	<!-- Meta launch file for  all control, sensors , and algorithms-->

	<!-- Include machine control -->
	<include file="$(find maurice_hardware)/launch/machine_communication.launch">
	</include>

	<!-- Include sensors -->
	<include file="$(find maurice_hardware)/launch/sensor_spawn.launch">
	</include>

	<!-- controllers -->
	<include file="$(find maurice_control)/launch/maurice_control.launch"/>

	<!-- localization -->
	<include file="$(find maurice_localization)/launch/single_ekf.launch"/>

	<!-- Include tf publisher
	<include file="$(find maurice_hardware)/launch/maurice_tf.launch">
	</include>-->


</launch>
