<?xml version="1.0"?>

<launch>

	<!-- rosserial node to arduino -->
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
		<param name="port" value="/dev/ttyUSB0" />
		<param name="baud" value="57600" />
	</node>

	<!-- odom node subscribes to /cmd_vel, publishes /odom-->
  <node pkg="robo_mower" type="wheel_odometry" name="wheel_odometry" output="screen">
		<param name="WHEEL_BASE" value="0.3048" />
  	<param name="WHEEL_RADIUS" value="0.127" />
	</node>

</launch>
