<?xml version="1.0"?>

<launch>

	<!-- Meta launch file for  all control, sensors , and algorithms-->

	<!-- Include machine control -->
	<include file="$(find robocar)/launch/machine_control.launch">
	</include>


	<!-- Include realsense camera -->
	<include file="$(find robocar)/launch/realsense2scan.launch">
	</include>

	<!-- Include tf publisher -->
	<include file="$(find robocar)/launch/robocar_tf.launch">
	</include>


</launch>
